body, html {
    height:100%;
    overflow:hidden;
}
.mainCon {
    width: 536px;
    height: 412px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
div {
    display: flex;
}
.title {
    height: 53px;
    flex-direction: row;
    background-color: white;
}
.title div {
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    margin: 10px;
    border-radius: 5px;
}
.title div:last-child {
    flex: 1;
    color: #6A48E7;
    background-color: white;
    border: 2px solid #6A48E7;
    margin-left: 5px;
}
.title div:first-child {
    flex: 2;
    color: white;
    background-color: #6A48E7;
    margin-right: 5px;
}
.semi-title div:first-child {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #d7d7d7;
    color: #3e3e3e;
    margin: 0;
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.semi-title div {
    font-family: SF UI Display;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}
.title div span,
.title div svg {
    cursor: pointer;
}
.title div svg {
    margin-left: 3px;
    margin-bottom: 2px;
}
.content {
    flex: 1 1 auto;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    overflow-y: scroll;
}
.content div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 16px;
    font-family: SF UI Display;
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 23px;
    cursor: pointer;
}
.content div:last-child {
    border-bottom: none;
}
.content .selected {
    background-color: #e5e5e5;
}
